/* basic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #2f2f33;
  font-size: 20px;
  background-color: #fff;
}

body {
  width: 1400px;
  margin-top: 60px;
  line-height: 1.4;
}

.container {
  /* max-width: 1170px; */
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 56px;
}

/* header */
.header {
  width: 100%;  
  padding-left: 180px;
}

.header__title {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 32px;
}

/* aside */
.contacts {
  margin-top: -50px;
  width: 264px;
  max-width: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.img {
  display: block;
  /* max-width: 264px; */
  max-height: 269px;
}

.header_social {
  display: flex;
  list-style-type: none;
  margin: 20px 0 13px;
  gap: 12px;
}

.social-icon_vk,
.social-icon_telegram,
.social-icon_whatsup {
  width: 32px;
  /* height: 23px; */
}
.contacts p {
  line-height: normal;
}
.phone {
    margin-bottom: 12px;
}

.main-wrap {
  width: 960px;
  /* max-width: 70%;
    */
}
/* info */
.info {
  background-color: #f8f8fd;
  line-height: 1.35;
}
.info-box {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 4px 24px;
  display: flex;
  gap: 24px;
}

.info-list {
  min-width: 20%;
  padding: 12px 30px 12px 0;
  margin-left: 50px;
  font-weight: 300;
  color: #9999a3;
  text-align: left;
}
.right {
  color: inherit;
  font-weight: inherit;
}

.shadow {
  text-shadow: 0 4px 4px #00000040;
}

/* my-work */
.my-work {
  margin-bottom: 24px;
}

.title {
  color: #9999a3;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 12px;
}

.my-work__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
  gap: 20px;
}
.my-work__box:last-child {
  margin-bottom: 20px;
}

.my-work__box_list p:last-child {
  color: #9999a3;
  padding-top: 4px;
}

.my-work__box_content {
  max-width: 66%;
  margin-top: 8px;
  margin-right: 5px;
}

.my-work__box_content p:last-child {
  padding-top: 20px;
}
.padding-right {
  padding-right: 158px;
}

.main-text {
  background-color: #a9a9fd;
  border-radius: 10px;
  padding: 10px 12px;
}

.more {
  margin-left: 8px;
  background-color: #f1a9fd;
}

/* skills, language, about */
.skills,
.language,
.about {
  margin-bottom: 24px;
}
.skills__title,
.language__title,
.about__title {
  color: #bcbcc2;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 12px;
}
.skills__item,
.language__item {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.skills__item span,
.language__item span {
  padding: 8px 12px;
  background-color: #f5f5fa;
}

.about__desc:not(:last-child) {
  margin-bottom: 8px;
}